@{
    ViewBag.Title = "TRAS";
}

<div itemscope itemtype="http://schema.org/Thing">

    <h2 itemprop="name">Smart Travel Assistant</h2>

    <p itemprop="description">This is a web application designed to assist people in organizing their journeys.</p>

</div>