@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Iasi, Romania <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <br />
    <a href="mailto:Support@example.com">claudiu.epure@gmail.com</a><br />
    <a href="mailto:Support@example.com">georgiana.roman@gmail.com</a><br />
    <a href="mailto:Support@example.com">andreea.tiron@gmail.com</a><br />
</address>