@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <span itemscope itemtype="http://schema.org/City" itemprop="name"> Iasi, </span>
    <span itemscope itemtype="http://schema.org/Country" itemprop="name"> Romania </span><br />
</address>

<address>
    <strong>Support:</strong> <br />
    <a itemprop="email" href="mailto:Support@example.com">claudiu.epure@gmail.com</a><br />
    <a itemprop="email" href="mailto:Support@example.com">georgiana.roman@gmail.com</a><br />
    <a itemprop="email" href="mailto:Support@example.com">andreea.tiron@gmail.com</a><br />
</address>