@{
    ViewBag.Title = "Home Page";
}
@section searchScript{
    <script src="~/Scripts/jquery.bootgap.min.js"></script>
    <script src="~/Scripts/app/Search/search.js"></script>
    <script src="~/Scripts/app/Search/searchModules.js"></script>
  }
<div class="jumbotron">
       <h1>TRAS</h1>
     <p class="lead">A school project developed in the Web Applications Development class.</p>
       <form class="navbar-form navbar-left" role="search" name="searchForm" id="searchForm">
             <div class="form-group">
                 <input type="text" class="form-control" id="search" placeholder="Search">
             </div>
             <button type="submit" class="btn btn-default" >Submit</button>
        </form>
        <p><a href="http://www.infoiasi.ro" class="btn btn-primary btn-large">Faculty of Computer Science from Iasi &raquo;</a></p>
</div>

<div class="body-content">
    <div class="container-fluid">
        <div class="row-fluid" id="main">
            <div class="col-md-3 pull-left" id="content">
                <ul id="items" class="nav nav-list bs-docs-sidenav thumbnail" style="padding:10px;">

                </ul>
            </div>
            <div class="col-md-9 pull-right" style="background-color: #eeeeee; border-radius: 6px;" id="entry-list">
      
            </div>
           
        </div>
</div>
</div>