
@{
    ViewBag.Title = "Index";
}

@section planningScript{
    <script src="~/Scripts/app/test.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
}
 
    <div class="container">

        <div>
            <input type="text" id="itemValue" name="add" />
            <input type="button" id="addItemBtn" value="Add">
        </div>
        
        <section class="col-md-3">
            <div id="divItems">
                <ul id="listItems" @*style="list-style-image: url(../../Content/images/move.jpg) "*@></ul>
            </div>
            <input type="button" id="showMap" value="Show map">
            <input type="button" id="drawRoute" value="Route">
        </section>

        <section class="col-md-9">
            <div class="row">
                <div id="map" style="height:500px" ></div>
            </div>
            <div class="row">
                <div class="col-md-4">Visual RDF</div>
            </div>
        </section>

    </div>



   