
@{
    ViewBag.Title = "Index";
}

@section planningScript{

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    
    <link href="~/Content/css/googleMap.css" rel="stylesheet" />

    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/app/Planning/PlanningModel.js"></script>
    <script src="~/Scripts/app/Planning/PlanningMain.js"></script>
 }
    <h2>Planning</h2>
    <div class="container">
        <section class="col-md-3">
            <h3>Locations</h3>

            <form data-bind="submit: addItem" role="form">
                <div class="form-group">
                    <input data-bind="value: queryValue" class="form-control" placeholder="What do you want to visit?" />
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button data-bind="click: geolocateMe" id="geolocateMe" class="btn btn-info"> Where am I? </button>

                </div>
            </form>

            <button data-bind="click: clearMarkers" id="clearMarkers" class="btn btn-info"> Clear </button>

            <div itemscope itemtype="http://schema.org/Place">
                <ul data-bind="foreach: locations, visible: locations().length > 0">
                    <li>
                        @*<input type="checkbox" data-bind="attr: { value: $data.locationData.Name }, checked: $parent.places, click: $parent.checkPlace" />*@
                        <a href="#" data-bind="click: $parent.searchSpots($data.locationData)">
                            <label itemprop="name" data-bind="text: $data.locationData.Name"></label>
                        </a>
                        <button type="button" data-bind="click: $parent.removeItem" class="close" aria-hidden="true">&times;</button>
                    </li>
                </ul>
                
            </div>
                @*<button data-bind="click: drawPath, visible: places().length > 1" id="drawPath" class="btn btn-info"> Path </button>*@
            
        </section>

        <section itemscope itemtype="http://schema.org/Place" class="col-md-6">
            <div class="row">
                <div itemprop="map" id="map" style="height:500px"></div>
            </div>
            <div class="row">
                @*<div class="col-md-4">Visual RDF</div>*@
            </div>
        </section>

        <section class="col-md-3">

            <div itemscope itemtype="http://schema.org/TouristAttraction" class="row" style="height: 500px; overflow-x: scroll; overflow-x:hidden">
                <div>
                    <ul id="spotsList" class="nav nav-tabs nav-stacked" data-bind="foreach: spots, visible: spots().length >
                        0">
                        <li>
                            <a href="#" data-bind="click: showOnMap($data.spotData.Name)">
                                <input type="checkbox" data-bind="attr: { value: $data.spotData.Name }, checked: $parent.allFeatures, click: $parent.addToItinerary" />
                                <label itemprop="name" data-bind="text: $data.spotData.Name"></label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>  



    <div class="container" data-bind="visible: locations().length > 0">

    <h3>Itinerary</h3>

    <section itemscope itemtype="http://schema.org/TouristAttraction" class="col-md-3">
        <ul data-bind="foreach: locations, visible: locations().length > 0">
            <li>
                <label data-bind="text: $data.locationData.Name"></label>
                <ul data-bind="foreach: $data">
                    <li>
                        <label itemprop="name" data-bind="text: $data"></label>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="col-md-6">

        <div class="row">
            <form data-bind="submit: searchPhotos" role="form">
                <div class="form-group">
                    <input data-bind="value: photoValue" class="form-control" placeholder="What do you want to see?" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        
            <ul data-bind="foreach: images, visible: images().length > 0">
                <li>
                    <a href="">
                        <img data-bind="attr:{ src: $data.URI }" alt="" width="50" height="50">
                    </a>
                </li>
            </ul>
        </div>

        <form data-bind="submit: saveItinerary" class="form-horizontal" role="form">
            <div class="form-group">

                <label for="itineraryName" class="col-sm-2 control-label"> Name </label>
                <input data-bind="value: itineraryName" name="itineraryName" class="form-control" placeholder="Itinerary name" />

                <label for="itineraryBudget" class="col-sm-2 control-label"> Budget </label>
                <input data-bind="value: budget" name="itineraryBudget" class="form-control" placeholder="Itinerary budget" />

                <label for="nrDays" class="col-sm-2 control-label"> Days </label>
                <input data-bind="value: nrDays" name="nrDays" class="form-control" placeholder="Number of days" />

                <label for="rating" class="col-sm-2 control-label"> Rating </label>
                <input data-bind="value: rating" name="rating" class="form-control" placeholder="Rating" />

            </div>
            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-10">
                    <button type="submit" class="btn btn-primary" data-bind="click: saveItinerary"> Save </button>
                </div>
            </div>
        </form>
    </section>

    <section class="col-md-3"></section>

</div>  


    